body {
background-image: linear-gradient(to left, #00FFFF, #138fec); 
}

.title {
text-align: center;
font-size: 57.5px;
font-family: 'Akaya Telivigala', cursive;
}

.subtitle {
text-align: center;
font-size: 25px;
font-family: 'Akaya Telivigala', cursive;
padding: 5px;
border-radius: 5px;
}
