body {
background-image: linear-gradient(to left, #00FFFF, #138fec); 
}

.title {
text-align: center;
font-size: 57.5px;
font-family: 'Akaya Telivigala', cursive;
}

.subtitle {
text-align: center;
font-size: 25px;
font-family: 'Akaya Telivigala', cursive;
padding: 1px;
border-radius: 1px;
}

.mainButton {
 font-family: 'Shippori Mincho B1', serif;
 color: white;
 background-image: linear-gradient(yellow, orange);
 padding-left: 7px;
 padding-right: 7px;
 padding-bottom: 5px;
 padding-top: 5px;
 text-decoration: none; 
 text-align: center;
 font-size: 25px;
 border-radius: 2px;
}
